<div class="row ">
  <div class="col m3">
  </div>

  <div class="col s12 m6">
    <div class="card ">
      <div class="card-image course_back ">
        <div class="card-content">
          <p class=" black-text"><%= @course.short_name %></p>
          <p class=" black-text"><strong> <%= @course.name %></strong></p>
        </div>
      </div>

      <div class="card-content">
        <p><%= @course.description %>></p>
      </div>


      <div class="card-action">
        <% if logged_in? && !(current_user.courses.include?(@course)) %>
          <%= link_to "Записаться", course_enroll_path(course_id: @course.id), method: :post %>
        <% else %>
          <%= link_to "Отписаться", course_enroll_path(course_id: @course.id), method: :delete %>
        <% end %>
        <% if current_user.admin == true %>
          <%= link_to "Редактировать", edit_course_path(@course.id) %>
          <%= link_to "Удалить", course_path(@course.id), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
            
