<!DOCTYPE html>
<html>
<head>
  <title>UnivApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>

<body>


<header>

<%= render 'layouts/navbar'  %>

<%= render 'layouts/flash'  %>
</header>



<main>
  <div class="container">
    <%= yield %>
  </div>  
</main>


<%= render 'layouts/footer'  %>

</body>
</html>
