<!DOCTYPE html>
<html>
<head>
  <title>UnivApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>

<body>
<!--Тег header/main нужно добавить  чтобы footer прилип к низу - требование документации-->
<header>

  <!-- Подключение выпадающего меню -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#">one</a></li>
    <li><a href="#">two</a></li>
    <li class="divider"></li>
    <li><a href="#">three</a></li>
  </ul>

  <!-- Подключение выпадающего меню  для мобильных-->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#">one</a></li>
    <li><a href="#">two</a></li>
    <li class="divider"></li>
    <li><a href="#">three</a></li>
  </ul>

  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">ТехУнивер</a>
<!--        Подключение меню для мобильных-->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#">Курсы</a></li>
          <li><a href="#">Components</a></li>
<!--          Подключение выпадающего меню-->
          <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Личный кабинет<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
<!--        Меню для мобильных-->
        <ul class="sidenav" id="mobile-demo">
          <li><a href="#">Курсы</a></li>
          <li><a href="#">Components</a></li>
          <li><a class="dropdown-trigger" href="#" data-target="dropdown2">Личный кабинет<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

      </div>
    </div>
  </nav>
</header>


<!--Тег main/header нужно добавить  чтобы footer прилип к низу - требование документации-->
<main>
  <div class="container">
    <%= yield %>
  </div>  <!--  контейнер-->
</main>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ТехУнивер</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut autem
          dolore expedita laudantium quia repellat reprehenderit rerum sunt tempore.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Дополнительные материалы</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Помощь</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">О Нас</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Контакты</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020
      <a class="grey-text text-lighten-4 right" href="#!">Соглашение</a>
    </div>
  </div>
</footer>


</body>
</html>
