<!DOCTYPE html>
<html>
<head>
  <title>UnivApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">ТехУнивер</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Курсы</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Личный кабинет</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">

  <%= yield %>
</div>  <!--  контейнер-->

</body>
</html>
